USE [master]
GO
/****** Object:  Database [QLPhongTro]    Script Date: 12/3/2025 11:01:38 AM ******/
CREATE DATABASE [QLPhongTro]
USE [QLPhongTro]
GO
USE [QLPhongTro]
GO
/****** Object:  Table [dbo].[AnhPhong]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhPhong](
	[MaAnh] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [nvarchar](20) NOT NULL,
	[UrlHinhAnh] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[MaHD] [int] NOT NULL,
	[MaDV] [nvarchar](20) NOT NULL,
	[SoLuong] [decimal](10, 2) NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuPhong]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuPhong](
	[MaChu] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [nvarchar](20) NULL,
	[SoDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [nvarchar](20) NOT NULL,
	[TenDV] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[DonViTinh] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GhiSoDienNuoc]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GhiSoDienNuoc](
	[MaGhiSo] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[MaDV] [nvarchar](20) NOT NULL,
	[ThangNam] [date] NOT NULL,
	[ChiSoCu] [int] NOT NULL,
	[ChiSoMoi] [int] NOT NULL,
	[SoLuongTieuThu]  AS ([ChiSoMoi]-[ChiSoCu]) PERSISTED,
	[NgayGhi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGhiSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[ThangNam] [date] NOT NULL,
	[TongTien] [decimal](18, 0) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayThanhToan] [date] NULL,
	[NgayLap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [nvarchar](20) NOT NULL,
	[MaKhach] [int] NOT NULL,
	[MaChu] [int] NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[TienCoc] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTaoDon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDongDichVu]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongDichVu](
	[MaHopDong] [int] NOT NULL,
	[MaDV] [nvarchar](20) NOT NULL,
	[SoLuong] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC,
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachThue]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachThue](
	[MaKhach] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [nvarchar](20) NULL,
	[SoDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuHopDong]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuHopDong](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[NgayThayDoi] [datetime] NULL,
	[NguoiThucHien] [nvarchar](100) NULL,
	[NoiDung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[MaKhach] [int] NULL,
	[MaChu] [int] NULL,
	[Email] [nvarchar](100) NULL,
	[NgayDangKy] [datetime] NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanHoiDanhGia]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoiDanhGia](
	[MaDG] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [nvarchar](20) NOT NULL,
	[MaKhach] [int] NOT NULL,
	[DiemDanhGia] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDanhGia] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [nvarchar](20) NOT NULL,
	[TenPhong] [nvarchar](255) NOT NULL,
	[DienTich] [decimal](7, 2) NULL,
	[GiaPhong] [decimal](18, 0) NOT NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
	[SoNguoiToiDa] [int] NULL,
	[AnhChinh] [nvarchar](255) NULL,
	[MoTaChiTiet] [nvarchar](max) NULL,
	[NoiThat] [nvarchar](500) NULL,
	[CoGac] [bit] NOT NULL,
	[Tang] [int] NULL,
	[LoaiPhong] [nvarchar](50) NULL,
	[MaChu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyPhong]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyPhong](
	[MaChu] [int] NOT NULL,
	[MaPhong] [nvarchar](20) NOT NULL,
	[VaiTroQuanLy] [nvarchar](50) NULL,
	[NgayBatDau] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChu] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuCoBaoTri]    Script Date: 12/3/2025 11:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuCoBaoTri](
	[MaSuCo] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayBao] [datetime] NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[ChiPhiSuaChua] [decimal](18, 0) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSuCo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnhPhong] ON 

INSERT [dbo].[AnhPhong] ([MaAnh], [MaPhong], [UrlHinhAnh], [MoTa]) VALUES (1, N'P001', N'room1/Hinh2.jpg', NULL)
INSERT [dbo].[AnhPhong] ([MaAnh], [MaPhong], [UrlHinhAnh], [MoTa]) VALUES (2, N'P001', N'room1/Hinh3.jpg', NULL)
INSERT [dbo].[AnhPhong] ([MaAnh], [MaPhong], [UrlHinhAnh], [MoTa]) VALUES (3, N'P001', N'room1/Hinh4.jpg', NULL)
GO
SET IDENTITY_INSERT [dbo].[AnhPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChuPhong] ON 

INSERT [dbo].[ChuPhong] ([MaChu], [HoTen], [CCCD], [SoDT], [Email], [DiaChi], [NgaySinh], [NgayTao]) VALUES (1, N'Phạm Văn Long', N'123456789000', N'0909123456', N'phaml@example.com', N'45 Bình Thạnh', CAST(N'1980-03-15' AS Date), CAST(N'2025-11-07T16:27:45.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChuPhong] OFF
GO
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [DonViTinh]) VALUES (N'DIEN', N'Điện sinh hoạt', CAST(4000 AS Decimal(18, 0)), N'kWh')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [DonViTinh]) VALUES (N'DIEN_3K8', N'Điện (Giá 3.8k)', CAST(3800 AS Decimal(18, 0)), N'kWh')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [DonViTinh]) VALUES (N'DIEN_4K', N'Điện (Giá 4k)', CAST(4000 AS Decimal(18, 0)), N'kWh')
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHopDong], [MaPhong], [MaKhach], [MaChu], [NgayBatDau], [NgayKetThuc], [TienCoc], [TrangThai], [NgayTao], [NguoiTaoDon]) VALUES (2, N'P001', 2, 1, CAST(N'2025-11-01' AS Date), CAST(N'2026-10-31' AS Date), CAST(8500000 AS Decimal(18, 0)), N'Đang hiệu lực', CAST(N'2025-11-07T16:30:45.993' AS DateTime), NULL)
INSERT [dbo].[HopDong] ([MaHopDong], [MaPhong], [MaKhach], [MaChu], [NgayBatDau], [NgayKetThuc], [TienCoc], [TrangThai], [NgayTao], [NguoiTaoDon]) VALUES (3, N'P002', 3, 1, CAST(N'2025-11-01' AS Date), CAST(N'2026-10-31' AS Date), CAST(7600000 AS Decimal(18, 0)), N'Đang hiệu lực', CAST(N'2025-11-07T16:35:34.727' AS DateTime), NULL)
INSERT [dbo].[HopDong] ([MaHopDong], [MaPhong], [MaKhach], [MaChu], [NgayBatDau], [NgayKetThuc], [TienCoc], [TrangThai], [NgayTao], [NguoiTaoDon]) VALUES (4, N'P003', 4, 1, CAST(N'2025-11-01' AS Date), CAST(N'2026-10-31' AS Date), CAST(8500000 AS Decimal(18, 0)), N'Đang hiệu lực', CAST(N'2025-11-07T16:35:34.727' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
INSERT [dbo].[HopDongDichVu] ([MaHopDong], [MaDV], [SoLuong]) VALUES (2, N'DV_150', CAST(1.00 AS Decimal(10, 2)))
INSERT [dbo].[HopDongDichVu] ([MaHopDong], [MaDV], [SoLuong]) VALUES (2, N'NUOC_NG', CAST(1.00 AS Decimal(10, 2)))
INSERT [dbo].[HopDongDichVu] ([MaHopDong], [MaDV], [SoLuong]) VALUES (2, N'XE_150', CAST(1.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[KhachThue] ON 

INSERT [dbo].[KhachThue] ([MaKhach], [HoTen], [CCCD], [SoDT], [Email], [DiaChi], [NgaySinh], [NgayTao]) VALUES (1, N'Nguyễn Văn An', N'001234567890', N'0909988776', N'nguyenvan.an@example.com', N'123 Đồng Nai', CAST(N'1999-05-10' AS Date), CAST(N'2025-11-07T16:27:45.130' AS DateTime))
INSERT [dbo].[KhachThue] ([MaKhach], [HoTen], [CCCD], [SoDT], [Email], [DiaChi], [NgaySinh], [NgayTao]) VALUES (2, N'Nguyễn Thị Lan Anh', N'001234567910', N'0901000001', N'anhntl@example.com', N'Quận 1, TPHCM', CAST(N'1999-01-01' AS Date), CAST(N'2025-11-07T16:30:45.993' AS DateTime))
INSERT [dbo].[KhachThue] ([MaKhach], [HoTen], [CCCD], [SoDT], [Email], [DiaChi], [NgaySinh], [NgayTao]) VALUES (3, N'Phạm Bảo Trung', N'001234567911', N'0901000002', N'trungpb@example.com', N'Quận 2, TPHCM', CAST(N'1998-02-02' AS Date), CAST(N'2025-11-07T16:35:34.723' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachThue] OFF
GO
INSERT [dbo].[NguoiDung] ([TaiKhoan], [MatKhau], [VaiTro], [MaKhach], [MaChu], [Email], [NgayDangKy], [TrangThai], [AnhDaiDien]) VALUES (N'admin1', N'123456', N'Admin', NULL, 1, N'admin1@example.com', CAST(N'2025-11-07T16:27:45.130' AS DateTime), N'Hoạt động', NULL)
INSERT [dbo].[NguoiDung] ([TaiKhoan], [MatKhau], [VaiTro], [MaKhach], [MaChu], [Email], [NgayDangKy], [TrangThai], [AnhDaiDien]) VALUES (N'user_anhduc', N'123456', N'User', 4, NULL, N'ducta@example.com', CAST(N'2025-11-07T16:35:34.727' AS DateTime), N'Hoạt động', NULL)
INSERT [dbo].[NguoiDung] ([TaiKhoan], [MatKhau], [VaiTro], [MaKhach], [MaChu], [Email], [NgayDangKy], [TrangThai], [AnhDaiDien]) VALUES (N'user_baotrung', N'123456', N'User', 3, NULL, N'trungpb@example.com', CAST(N'2025-11-07T16:35:34.727' AS DateTime), N'Hoạt động', NULL)
GO
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [DienTich], [GiaPhong], [TinhTrang], [SoNguoiToiDa], [AnhChinh], [MoTaChiTiet], [NoiThat], [CoGac], [Tang], [LoaiPhong], [MaChu]) VALUES (N'P001', N'Phòng 403 - 149/35 Bành Văn Trân, P7', CAST(40.00 AS Decimal(7, 2)), CAST(8500000 AS Decimal(18, 0)), N'Đã thuê', 4, N'room1/Hinh1.jpg', N'Điện 4k4, Nước 100k/người, Dịch vụ 150k/phòng, Xe 150k/xe', N'Full nội thất cao cấp', 1, 4, N'Duplex', 1)
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [DienTich], [GiaPhong], [TinhTrang], [SoNguoiToiDa], [AnhChinh], [MoTaChiTiet], [NoiThat], [CoGac], [Tang], [LoaiPhong], [MaChu]) VALUES (N'P002', N'Phòng 203 - 11 Tiền Giang, P2', CAST(35.00 AS Decimal(7, 2)), CAST(7600000 AS Decimal(18, 0)), N'Đã thuê', 3, N'room2/Hinh1.jpg', N'Điện 4k, Nước 100k/người, Dịch vụ 200k/phòng', N'Nội thất cơ bản, có gác', 1, 2, N'Duplex', 1)
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [DienTich], [GiaPhong], [TinhTrang], [SoNguoiToiDa], [AnhChinh], [MoTaChiTiet], [NoiThat], [CoGac], [Tang], [LoaiPhong], [MaChu]) VALUES (N'P003', N'Phòng - 13/4A Quách Văn Tuấn, P12', CAST(40.00 AS Decimal(7, 2)), CAST(8500000 AS Decimal(18, 0)), N'Đã thuê', 4, N'room3/Hinh1.jpg', N'Thang bộ. Điện 4k, Nước 100k, WIFI 100k. Free xe.', N'Nội thất gác lửng', 1, 3, N'Duplex', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChuPhong__A955A0AAA52ABD78]    Script Date: 12/3/2025 11:01:39 AM ******/
ALTER TABLE [dbo].[ChuPhong] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChuPhong__BC3D04C9C84E6774]    Script Date: 12/3/2025 11:01:39 AM ******/
ALTER TABLE [dbo].[ChuPhong] ADD UNIQUE NONCLUSTERED 
(
	[SoDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_HoaDon_TrangThai]    Script Date: 12/3/2025 11:01:39 AM ******/
CREATE NONCLUSTERED INDEX [IDX_HoaDon_TrangThai] ON [dbo].[HoaDon]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachThu__A955A0AAF778DC0B]    Script Date: 12/3/2025 11:01:39 AM ******/
ALTER TABLE [dbo].[KhachThue] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachThu__BC3D04C9D7B2FC4A]    Script Date: 12/3/2025 11:01:39 AM ******/
ALTER TABLE [dbo].[KhachThue] ADD UNIQUE NONCLUSTERED 
(
	[SoDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Phong_MaChu]    Script Date: 12/3/2025 11:01:39 AM ******/
CREATE NONCLUSTERED INDEX [IDX_Phong_MaChu] ON [dbo].[Phong]
(
	[MaChu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Phong_TinhTrang]    Script Date: 12/3/2025 11:01:39 AM ******/
CREATE NONCLUSTERED INDEX [IDX_Phong_TinhTrang] ON [dbo].[Phong]
(
	[TinhTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChuPhong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[GhiSoDienNuoc] ADD  DEFAULT (getdate()) FOR [NgayGhi]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Chưa thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang hiệu lực') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HopDongDichVu] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[KhachThue] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LichSuHopDong] ADD  DEFAULT (getdate()) FOR [NgayThayDoi]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (N'User') FOR [VaiTro]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhanHoiDanhGia] ADD  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT (N'Trống') FOR [TinhTrang]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((0)) FOR [CoGac]
GO
ALTER TABLE [dbo].[QuanLyPhong] ADD  DEFAULT (getdate()) FOR [NgayBatDau]
GO
ALTER TABLE [dbo].[SuCoBaoTri] ADD  DEFAULT (getdate()) FOR [NgayBao]
GO
ALTER TABLE [dbo].[SuCoBaoTri] ADD  DEFAULT (N'Mới báo') FOR [TrangThai]
GO
ALTER TABLE [dbo].[AnhPhong]  WITH CHECK ADD  CONSTRAINT [FK_AnhPhong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnhPhong] CHECK CONSTRAINT [FK_AnhPhong_Phong]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_DichVu] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_DichVu]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_HoaDon]
GO
ALTER TABLE [dbo].[GhiSoDienNuoc]  WITH CHECK ADD  CONSTRAINT [FK_GhiSo_DichVu] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[GhiSoDienNuoc] CHECK CONSTRAINT [FK_GhiSo_DichVu]
GO
ALTER TABLE [dbo].[GhiSoDienNuoc]  WITH CHECK ADD  CONSTRAINT [FK_GhiSo_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GhiSoDienNuoc] CHECK CONSTRAINT [FK_GhiSo_HopDong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_HopDong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_ChuPhong] FOREIGN KEY([MaChu])
REFERENCES [dbo].[ChuPhong] ([MaChu])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_ChuPhong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_KhachThue] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KhachThue] ([MaKhach])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_KhachThue]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_Phong]
GO
ALTER TABLE [dbo].[HopDongDichVu]  WITH CHECK ADD  CONSTRAINT [FK_HDDV_DichVu] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[HopDongDichVu] CHECK CONSTRAINT [FK_HDDV_DichVu]
GO
ALTER TABLE [dbo].[HopDongDichVu]  WITH CHECK ADD  CONSTRAINT [FK_HDDV_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HopDongDichVu] CHECK CONSTRAINT [FK_HDDV_HopDong]
GO
ALTER TABLE [dbo].[LichSuHopDong]  WITH CHECK ADD  CONSTRAINT [FK_LSHD_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuHopDong] CHECK CONSTRAINT [FK_LSHD_HopDong]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_ChuPhong] FOREIGN KEY([MaChu])
REFERENCES [dbo].[ChuPhong] ([MaChu])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_ChuPhong]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_KhachThue] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KhachThue] ([MaKhach])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_KhachThue]
GO
ALTER TABLE [dbo].[PhanHoiDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_Khach] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KhachThue] ([MaKhach])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanHoiDanhGia] CHECK CONSTRAINT [FK_PhanHoi_Khach]
GO
ALTER TABLE [dbo].[PhanHoiDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanHoiDanhGia] CHECK CONSTRAINT [FK_PhanHoi_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_ChuPhong] FOREIGN KEY([MaChu])
REFERENCES [dbo].[ChuPhong] ([MaChu])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_ChuPhong]
GO
ALTER TABLE [dbo].[QuanLyPhong]  WITH CHECK ADD  CONSTRAINT [FK_QuanLyPhong_ChuPhong] FOREIGN KEY([MaChu])
REFERENCES [dbo].[ChuPhong] ([MaChu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuanLyPhong] CHECK CONSTRAINT [FK_QuanLyPhong_ChuPhong]
GO
ALTER TABLE [dbo].[QuanLyPhong]  WITH CHECK ADD  CONSTRAINT [FK_QuanLyPhong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuanLyPhong] CHECK CONSTRAINT [FK_QuanLyPhong_Phong]
GO
ALTER TABLE [dbo].[SuCoBaoTri]  WITH CHECK ADD  CONSTRAINT [FK_SuCo_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SuCoBaoTri] CHECK CONSTRAINT [FK_SuCo_HopDong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_HoaDon_TongTien] CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_HoaDon_TongTien]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_Ngay] CHECK  (([NgayKetThuc]>[NgayBatDau]))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_HopDong_Ngay]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([TrangThai]=N'Khóa' OR [TrangThai]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([VaiTro]=N'Admin' OR [VaiTro]=N'User'))
GO
ALTER TABLE [dbo].[PhanHoiDanhGia]  WITH CHECK ADD CHECK  (([DiemDanhGia]>=(1) AND [DiemDanhGia]<=(5)))
GO
USE [master]
GO
